<!DCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		div{
			width: 220px;
			height: 100%;
			margin:0px auto;
		}
		ul{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}

		li{
			width: 220px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			border: 1px solid #ccc;
		}


		a{
			display: block;
			width: 220px;
			height: 30px;
			text-decoration: none;
		}

		a:hover{
			background-color: #f5f5f5;
		}
	</style>
</head>
<body>
	<div>
		<ul>
			{% for i in title_list %}
			<li><a href="/article/{{ i[0] }}/">{{ i[1] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>